<footer>
	<div class="top-footer">
		<div class="wrap">
			<div class="bottom-item-wrap">
				<div class="each-item address-item">
					<dl>
						<dt>公司地址</dt>
						<dd class="address">
							<i class="icon"></i>
							<span class="word">郑州市管城区紫荆山商城路<br>裕鸿国际<span class="en"></span>D座</span>
						</dd>
						<dd class="phone-number">
							<i class="icon"></i>
							<span class="word en">
                                <a href="tel:400-800-9385" rel="noFollow">15138937081</a><br>
                                <!--<a href="tel:0755-82689595" rel="noFollow">0755-82689595</a>-->
                            </span>
						</dd>
					</dl>
				</div>
				<!--<div class="each-item address-item">
					<dl>
						<dt>广州 (分部)</dt>
						<dd class="address">
							<i class="icon"></i>
							<span class="word">广州天河区地中海国际酒店 <span class="en">1627</span></span>
						</dd>
						<dd class="phone-number">
							<i class="icon"></i>
							<span class="word en">
                            <a href="tel:020-8521 9047">020-8521 9047</a>
                        </span>
						</dd>
					</dl>
				</div>-->
				<!--<div class="each-item contact-item">-->
					<!--<dl>-->
						<!--<dt>Other</dt>-->
						<!--<dd>-->
							<!--<a class="word get-quote" >获得报价与方案</a>-->
						<!--</dd>-->
						<!--<dd>-->
							<!--<a href="http://www.fwwl.net/contact/pay.html" target="_blank" rel='nofollow' class="word" title="付款方式">付款方式</a>-->
						<!--</dd>-->
					<!--</dl>-->
				<!--</div>-->
				<div class="each-item code-item">
					<dl>
						<dt>Wechat</dt>
						<dd class="code-wrap">
                            <span class="code">
                                <img src="__ROOT__/Uploads/{$conf.weixin_code}" alt="微信" />
                            </span>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-footer">
		<div class="wrap">
			<div class="copyright">
				<span class="en">©2018-2019</span>郑州尚之奕电子科技有限公司  <span class="en">ALL RIGHTS RESERVED.</span>
				<a rel="nofollow" href="http://www.miitbeian.gov.cn" target="_blank" >豫ICP备120456098号</a>
				<a href="{:U('Index/moban')}" target="_blank" >尚之奕模板库</a>
			</div>
		</div>
	</div>
</footer>
<div class="fixed-contact-wrap">
	<ul class="item-list clearfix">
		<li class="phone">
			<a rel="nofollow" target="_blank" href="tel:15138937081">
				<i class="icon"></i>
				<strong>15138937081</strong>
			</a>
		</li>
		<li class="qq">
			<a rel="nofollow" target="_blank" href="http://wpa.qq.com/msgrd?v=1&uin=1755832823&site=qq&menu=yes">
				<i class="icon"></i>
				<strong>1755832823</strong>
			</a>
		</li>
		<li class="back-top">
			<a href="javascript:void(0)" rel="nofollow" class="back-to-top">
				<i class="icon"></i>
				<strong>回到顶部</strong>
			</a>
		</li>
	</ul>
</div>