<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="hotcss" content="initial-dpr=1" />
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>郑州尚之奕电子科技有限公司</title>
    <meta name="keywords" content="郑州尚之奕电子科技有限公司,尚之奕做网站,响应式网站建设,品牌网站建设,尚之奕" />
    <meta name="description" content="尚之奕提供企业品牌网站设计、商城建设、旅游网站制作、手机微信网站建设、响应式网站建设、微信小程序定制开发、APP定制等。" />
    <meta name="author" content="郑州尚之奕电子科技有限公司 http://www.zzszyi.com" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,height=device-height" />
    <meta name="applicable-device" content="pc,mobile">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="wap-font-scale" content="no" />
    <link href="__PUBLIC__/Home/css/common.css"  rel="stylesheet" />
    <!--[if lt IE 9]><script src="__PUBLIC__/Home/js/html5.js" ></script><![endif]-->
</head>
<body>
<div class="body-bg"></div>
<header>
    <div class="header-inner">
        <div class="logo">
            <a href="http://szy.dzswedu.com/">
                <img src="__PUBLIC__/Home/picture/881.jpg" alt="尚之奕网站建设" />
            </a>
        </div>
        <div class="right-side clearfix">
            <nav>
                <ul class="clearfix">
                    <li><a href="{:U('Index/index')}">首页</a></li>
                    <li><a href="{:U('About/index')}" >关于尚之奕</a></li>
                    <li><a href="{:U('Service/index')}" title="网站建设、小程序开发、APP定制">服务范围</a></li>
                    <li><a href="{:U('Case/index')}" title="网站设计案例">我们的作品</a></li>
                    <li><a href="{:U('An/index')}" title="网站解决方案">解决方案</a></li>
                    <li><a href="{:U('News/index')}" title="网站建设资讯">新闻资讯</a></li>
                    <li><a href="{:U('Contact/index')}" >联系尚之奕</a></li>
                </ul>
            </nav>
            <div class="header-phone-number">15138937081</div>
        </div>
    </div>
</header>