<div class="navBarWrap">
    <div class="navBar visble show">
        <div class="bar-logo">
            <a href="{:U('Index/index')}" rel="nofollow">
                <img src="__PUBLIC__/Home/picture/logo1.png" alt="尚之奕" />
                <img src="__PUBLIC__/Home/picture/880.jpg" alt="尚之奕" />
            </a>
        </div>
        <div class="bar-menu">
            <i class="bar-top"><span></span></i>
            <i class="bar-cen"><span></span></i>
            <i class="bar-bom"><span></span></i>
            <i class="bar-left"><span></span></i>
            <i class="bar-right"><span></span></i>
        </div>
    </div>
    <section class="fixed-menu">
        <div class="close-bar">
            <i class="bar-left"><span></span></i>
            <i class="bar-right"><span></span></i>
        </div>
        <nav class="sub-menu-phone">
            <ul>
                <li class="index-hrefs on">
                    <a href="{:U('Index/index')}" rel="nofollow">
                        <font>首页</font>
                    </a>
                </li>
                <li>
                    <a href="{:U('About/index')}" rel="nofollow">
                        <font>关于尚之奕</font>
                    </a>
                </li>
                <li>
                    <a href="{:U('Service/index')}" rel="nofollow" >
                        <font>服务范围</font>
                    </a>
                </li>
                <li>
                    <a href="{:U('Case/index')}" rel="nofollow">
                        <font>我们的作品</font>
                    </a>
                </li>
                <li>
                    <a href="{:U('An/index')}" rel="nofollow">
                        <font>网站解决方案</font>
                    </a>
                </li>
                <li>
                    <a href="{:U('News/index')}" rel="nofollow">
                        <font>网站建设资讯</font>
                    </a>
                </li>
                <li>
                    <a href="{:U('Contact/index')}" rel="nofollow">
                        <font>联系我们</font>
                    </a>
                </li>
            </ul>
            <div class="phone-wrap">
                <span class="label">服务热线</span>
                <strong class="phone"><a href="tel:{$conf.tel}">{$conf.tel}</a></strong>
            </div>
        </nav>
    </section>
</div>