<include file="Public:head"/>
<div class="__PUBLIC__/Home/js-container">
    <div class="index-banner">
        <div class="swiper-container home-carousel">
            <div class="swiper-wrapper carousel-inner page-header-inner">
                <div class="carousel-item carousel-item1">
                    <div class="carousel-item-inner">
                        <div class="page-header-fullscreen-trame carousel-item-trame trame"></div>
                        <div class="page-header-fullscreen-image-cont carousel-item-image-wrapper">
                            <figure class="carousel-item-image page-header-fullscreen-image">
                                <div class="lg-hidden1">
                                    <div class="fullscreen-image">
                                        <img src="__PUBLIC__/Home/picture/index-banner1-1a.jpg" alt="致力于做服务最好的网站建设公司" >
                                    </div>
                                </div>
                                <div class="video">
                                        <div class="video-inner">
                                            <video class="banner-background" src="http://zy.fwwl.net/video/banner12.mp4" autoplay="true" style="width:100%;object-fit:fill" loop="true" poster="" muted>
                                                <source src="http://zy.fwwl.net/video/banner12.mp4" type="video/mp4">
                                            </video>
                                        </div>
                                    </div>                            </figure>
                        </div>
                        <div class="swiper-inner-text-wrap page-header-fullscreen-text carousel-item-text">
                            <div class="swiper-inner-text">
                                <h2 class="cansual-item-title"><span class="small-title">尚之奕服务的客户</span>
                                <strong class="number">6000<span class="add-icon">+</span></strong>
                                <span class="carousel-item-subtitle-line"><span class="carousel-item-subtitle-line-timer"></span></span></h2>
                                <h3 class="cansual-sub-title"><span>多年来，尚之奕不变初心</span> <span>致力于做服务更好的网站建设公司</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-item2">
                    <div class="carousel-item-inner">
                        <div class="page-header-fullscreen-trame carousel-item-trame trame"
                             style="background:url(__PUBLIC__/Home/images/index-banner2.jpg) no-repeat center center;"></div>
                        <div class="carousel-item-image-wrapper">
                            <figure class="carousel-item-image">
                                <div class="lg-hidden1">
                                    <div class="fullscreen-image">
                                        <img src="__PUBLIC__/Home/picture/index-banner1-2a.jpg" alt="做更好的网站设计" />
                                    </div>
                                </div>
                                <div class="video">
                                        <div class="video-inner">
                                            <video class="banner-background" src="http://zy.fwwl.net/video/banner2.mp4" autoplay="true" style="width: 100%;  object-fit: fill" loop="true" poster="">
                                                <source src="http://zy.fwwl.net/video/banner2.mp4" type="video/mp4">
                                            </video>
                                        </div>
                                    </div>                            </figure>
                            <div class="swiper-inner-text-wrap page-header-fullscreen-text">
                                <div class="swiper-inner-text">
                                    <h3 class="cansual-des">创意 · 设计 · 技术 · 研发 · 服务<br>
                                    <span class="en">尚之奕</span> 努力进取、不断完善<br> 并一直领先
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-item3">
                    <div class="carousel-item-inner">
                        <div class="page-header-fullscreen-trame carousel-item-trame trame"
                             style="background:url(__PUBLIC__/Home/images/index-banner3.jpg) no-repeat center center;"></div>
                        <div class="carousel-item-image-wrapper">
                            <figure class="carousel-item-image"></figure>
                        </div>
                        <div class="swiper-inner-text-wrap page-header-fullscreen-text">
                            <div class="swiper-inner-text">
                                <h2 class="cansual-title">互联网全终端解决方案</h2>
                                <div class="cansual-line"></div>
                                <p class="cansual-des">为客户提供各类网站定制解决方法，包括企业网站、商城系统、旅游网站、外贸网站 手机微信网站、微信小程序、APP 等。  </p>
                                <a href="{:U('An/index')}" title="网站建设解决方案" class="radiu-button">查看更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-bar page-header-bar active">
                <div class="carousel-bar-inner page-header-bar-inner">
                    <div class="carousel-scroll-btn">
                        <div class="carousel-scroll-btn-icon-wrapper"><span class="carousel-scroll-btn-icon"></span>
                        </div>
                    </div>
                    <div class="carousel-controls">
                        <div class="count"><span class="current">01</span> <i>/</i> <span class="total">06</span></div>
                        <div class="controls">
                            <div class="left carousel-control" role="button" data-slide="prev">
                                <div class="swiper-button swiper-button-prev"><span class="swiper-button-line"></span>
                                </div>
                            </div>
                            <span class="carousel-line"></span>

                            <div class="right carousel-control">
                                <div class="swiper-button swiper-button-next"><span class="swiper-button-line"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
    <div class="index-page-block">
        <div class="index-service index-wrap">
            <div class="container">
                <h2 class="index-title">
                    <div class="big-title"><strong class="big">服务范围</strong><span class="line l-line"></span><span class="line r-line"></span></div>
                    <span class="small">Our Services</span>
                </h2>
                <div class="index-service-scroll-wrap">
                    <div class="swiper-container">
                        <div class="swiper-slide-inner clearfix">
                            <div class="swiper-slide-image-wrap">
                                <div class="swiper-slide-image active">
                                    <div class="sm-hidden">
                                        <img src="__PUBLIC__/Home/picture/index-service1-1.jpg" alt="品牌网站建设">
                                    </div>
                                    <div class="lg-hidden">
                                        <img src="__PUBLIC__/Home/picture/index_service_1.jpg" alt="品牌网站建设"></div>
                                </div>
                                <div class="swiper-slide-image">
                                    <div class="sm-hidden"><img src="__PUBLIC__/Home/picture/index-service1-2.jpg" alt="响应式网站建设"></div>                                    <div class="lg-hidden"><img src="__PUBLIC__/Home/picture/index-service1-2a.jpg" alt="响应式网站建设"></div>
                                </div>
                                <div class="swiper-slide-image">
                                    <div class="sm-hidden"><img src="__PUBLIC__/Home/picture/index-service1-3.jpg" alt="商城系统开发"></div>                                    <div class="lg-hidden"><img src="__PUBLIC__/Home/picture/index-service1-3a.jpg" alt="商城系统开发"></div>
                                </div>
                                <div class="swiper-slide-image">
                                    <div class="sm-hidden"><img src="__PUBLIC__/Home/picture/index-service1-4.jpg" alt="手机网站建设"></div>                                    <div class="lg-hidden"><img src="__PUBLIC__/Home/picture/index-service1-4a.jpg" alt="手机网站建设"></div>
                                </div>
                                <div class="swiper-slide-image">
                                    <div class="sm-hidden"><img src="__PUBLIC__/Home/picture/index-service1-5.jpg" alt="微信小程序定制开发"></div>                                    <div class="lg-hidden"><img src="__PUBLIC__/Home/picture/index-service1-5a.jpg" alt="微信小程序定制开发"></div>
                                </div>
                                <div class="swiper-slide-image">
                                    <div class="sm-hidden"><img src="__PUBLIC__/Home/picture/index-service1-6.jpg" alt="APP定制"></div>                                    <div class="lg-hidden"><img src="__PUBLIC__/Home/picture/index-service1-6a.jpg" alt="APP定制"></div>
                                </div>
                            </div>
                            <div class="swiper-slide-text-scroll">
                                <div class="swiper-slide-text-each active">
                                    <div class="swiper-slide-text-wrap">
                                        <div class="swiper-slide-text">
                                            <h2 class="slide-title">品牌网站建设</h2>
                                            <div class="slide-descrition">
                                                <span>企业 & 品牌官网设计</span>
                                                <span>集团 & 机构网站设计</span>
                                                <span>旅游网站建设</span>
                                                <span>英文外贸网站设计</span>
                                                <span>营销型网站建设</span>
                                            </div>
                                            <a href="{:U('Service/index')}" class="radiu-button">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide-text-each">
                                    <div class="swiper-slide-text-wrap">
                                        <div class="swiper-slide-text">
                                            <h2 class="slide-title">响应式网站</h2>
                                            <div class="slide-descrition">
                                                <span>响应式企业官网</span>
                                                <span>响应式商城定制</span>
                                                <span>兼容电脑、手机、平板</span>
                                                <span>全终端营销</span>
                                            </div>
                                            <a href="{:U('Service/index')}" class="radiu-button">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide-text-each">
                                    <div class="swiper-slide-text-wrap">
                                        <div class="swiper-slide-text">
                                            <h2 class="slide-title">商城系统开发</h2>
                                            <div class="slide-descrition">
                                                <span>B2C商城定制</span>
                                                <span>B2B商城定制</span>
                                                <span>外贸商城系统</span>
                                                <span>手机微商城系统</span>
                                                <span>多终端商城系统</span>
                                            </div>
                                            <a href="{:U('Service/index')}" class="radiu-button">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide-text-each">
                                    <div class="swiper-slide-text-wrap">
                                        <div class="swiper-slide-text">
                                            <h2 class="slide-title">手机微信网站</h2>
                                            <div class="slide-descrition">
                                                <span>手机网站建设</span>
                                                <span>微信网站建设</span>
                                                <span>手机微商城</span>
                                                <span>企业微官网</span>
                                                <span>各类手机网站定制</span>                                            </div>
                                            <a href="{:U('Service/index')}" class="radiu-button">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide-text-each">
                                    <div class="swiper-slide-text-wrap">
                                        <div class="swiper-slide-text">
                                            <h2 class="slide-title">微信小程序定制</h2>
                                            <div class="slide-descrition">
                                                <span>企业小程序</span>
                                                <span>商城小程序</span>
                                                <span>扫码点餐小程序</span>
                                                <span>交互小程序</span>
                                                <span>其他小程序定制</span>
                                            </div>
                                            <a href="{:U('Service/index')}" class="radiu-button">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide-text-each">
                                    <div class="swiper-slide-text-wrap">
                                        <div class="swiper-slide-text">
                                            <h2 class="slide-title">APP定制</h2>
                                            <div class="slide-descrition">
                                                <span>IOS APP定制</span>
                                                <span>Android APP定制</span>
                                                <span>商城系统APP</span>
                                                <span>APP和网站数据互通</span>
                                            </div>
                                            <a href="{:U('Service/index')}" class="radiu-button">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="work-buttons">
                            <div class="work-button">
                                <div class="count-tab">
                                    <div class="each-tab active">
                                        <div class="tab"><strong class="tab-key">网站建设</strong> <span class="dot"></span></div>
                                    </div>
                                    <div class="each-tab">
                                        <div class="tab"><strong class="tab-key">响应式网站</strong> <span class="dot"></span></div>
                                    </div>
                                    <div class="each-tab">
                                        <div class="tab"><strong class="tab-key">商城系统</strong> <span class="dot"></span></div>
                                    </div>
                                    <div class="each-tab">
                                        <div class="tab"><strong class="tab-key">手机微网站</strong> <span class="dot"></span></div>
                                    </div>
                                    <div class="each-tab">
                                        <div class="tab"><strong class="tab-key">小程序定制</strong> <span class="dot"></span></div>
                                    </div>
                                    <div class="each-tab">
                                        <div class="tab"><strong class="tab-key">APP定制</strong> <span class="dot"></span></div>
                                    </div>
                                </div>
                                <div class="prograss-bar"><a class="prev iconfont"></a><a class="next iconfont"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-work index-wrap">
            <div class="container">
                <h2 class="index-title">
                    <div class="big-title"><strong class="big">我们的作品</strong><span class="line l-line"></span><span class="line r-line"></span></div>
                    <span class="small">我们的作品</span>
                </h2>
                <div class="index-work-content">
                    <div class="work-swiper-container">
                        <div class="swiper-slide-image-wrap sm-hidden">
                            <volist name="list" id="vo">
                            <div class="swiper-slide-image " style="background:url(__ROOT__/Uploads/{$vo.imagename}) no-repeat center center;background-size:auto 100%">
                                <a style="display:block;width:100%;height:100%;" href="{:U('Case/info',array('articleid'=>$vo['articleid']))}" rel="nofollow">&nbsp;</a>
                                </div>
                            </volist>
                        </div>
                        <!--移动端-->
                      <div class="swiper-slide-image-wrap lg-hidden">
                          <volist name="list" id="vo">
                              <div class="swiper-slide-image " style="background:url(__ROOT__/Uploads/{$vo.img1}) no-repeat center center;background-size:auto 100%">
                                  <a style="display:block;width:100%;height:100%;" href="{:U('Case/info',array('articleid'=>$vo['articleid']))}" rel="nofollow">&nbsp;</a>
                              </div>
                          </volist>
                      </div>
                        <div class="swiper-slide-text-wrap">
                            <div class="swiper-slide-text">
                                <div class="swiper-slide-text-scroll">
                                    <volist name="list" id="vo">
                                   <div class="swiper-slide-text-each ">
                                       <h2 class="slide-title">{$vo.title}</h2>
                                       <span class="line"></span>
                                       <div class="slide-descrition">
                                       {$vo.describle}
                                       </div>
                                    </div>
                                    </volist>
                                </div>
                                <div class="work-buttons">
                                    <div class="work-button">
                                        <div class="count"><span class="current">01</span><i>/</i><span class="total">06</span></div>
                                        <div class="prograss-bar">
                                            <a class="prev iconfont"></a>
                                            <div class="lines"><div class="nline"></div></div>
                                            <a class="next iconfont"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-data">
            <div class="video">
                <div class="video-inner">
                    <video class="data-background" src="http://zy.fwwl.net/video/about_bg.mp4" autoplay="true" style="width:100%;object-fit:fill" loop="true" poster="http://zy.fwwl.net/pic/about_bg.jpg">
                        <source src="http://zy.fwwl.net/video/about_bg.mp4" type="video/mp4">
                    </video>
                    <div class="lg-hidden">
                        <div class="img-responsive data-background">
                            <img src="__PUBLIC__/Home/picture/index-data-bg-m.jpg" alt="网站开发,我们是拿手的" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="index-data-list">
                    <ul class="item-list clearfix">
                        <li class="item">
                            <div class="item-inner">
                                <h3 class="text-wrap">
                                    <span class="number-wrap">
                                        <strong class="number" id="num1" data-num="6000">6000</strong>
                                        <strong class="icon">+</strong>
                                    </span>
                                    <span class="small-title">客户选择</span>
                                </h3>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-inner">
                                <h3 class="text-wrap">
                                    <span class="number-wrap">
                                        <strong class="number" id="num2" data-num="6">6</strong>
                                        <strong class="icon">+</strong>
                                    </span>
                                    <span class="small-title">国家软件著作权</span>
                                </h3>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-inner">
                                <h3 class="text-wrap">
                                    <span class="number-wrap">
                                        <strong class="number" id="num3" data-num="300">300</strong>
                                        <strong class="icon">+</strong>
                                    </span>
                                    <span class="small-title">上市/集团公司</span>
                                </h3>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-inner">
                                <h3 class="text-wrap">
                                    <span class="number-wrap">
                                        <strong class="number" id="num4" data-num="30">30</strong>
                                        <strong class="icon">+</strong>
                                    </span>
                                    <span class="small-title">专业团队</span>
                                </h3>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-inner">
                                <h3 class="text-wrap">
                                    <span class="number-wrap">
                                        <strong class="number" id="num5" data-num="300">300</strong>
                                        <strong class="icon">+</strong>
                                    </span>
                                    <span class="small-title">检测标准</span>
                                </h3>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item-inner">
                                <h3 class="text-wrap">
                                    <span class="number-wrap">
                                        <strong class="number" id="num6" data-num="98">98</strong>
                                        <strong class="icon">%</strong>
                                    </span>
                                    <span class="small-title">客户续费率</span>
                                </h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
<div class="index-customer index-wrap">
    <div class="wrap">
        <h2 class="index-title">
            <div class="big-title"><strong class="big">他们都选择了尚之奕</strong><span class="line l-line"></span><span class="line r-line"></span></div>
            <span class="small">Our Customers</span>
        </h2>
        <div class="index-tips">尚之奕电子科技为众多企业提供全方位的网络支持。尚之奕基于自己开发的平台在国内率先开创了信息化服务模式，以网站建设为切入点，向企业客户提供一站式的互联网整体解决方案。</div>
        <div class="index-customer-list">
            <ul class="item-list clearfix">
                <li class="item item600">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/56fcca73bd833.jpg" alt="湖南常德津市">
                                <img src="__PUBLIC__/Home/picture/56fccc1c814b7.jpg" alt="湖南常德津市">
                            </a>
                        </div>
                    </li><li class="item item450">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/569ca9619d965.jpg" alt="建设银行">
                                <img src="__PUBLIC__/Home/picture/569cc034ef75e.jpg" alt="建设银行">
                            </a>
                        </div>
                    </li><li class="item item600">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/56f65eb6339b3.jpg" alt="尚之奕广田装饰集团股份有限公司">
                                <img src="__PUBLIC__/Home/picture/56f65eb9992b7.jpg" alt="尚之奕广田装饰集团股份有限公司">
                            </a>
                        </div>
                    </li><li class="item item550">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/578e17a71bf22.jpg" alt="中国电建">
                                <img src="__PUBLIC__/Home/picture/578e17aa38253.jpg" alt="中国电建">
                            </a>
                        </div>
                    </li><li class="item item400">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/569ca727226ad.jpg" alt="大族激光旗下大族元亨股份">
                                <img src="__PUBLIC__/Home/picture/569cc058e43b4.jpg" alt="大族激光旗下大族元亨股份">
                            </a>
                        </div>
                    </li><li class="item item300 double-item">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/56cbd9dd91e94.jpg" alt="招商局">
                                <img src="__PUBLIC__/Home/picture/56cbd9e161d0a.jpg" alt="招商局">
                            </a>
                        </div>
                    </li><li class="item item400 double-item">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/569ca62ca6eb1.jpg" alt="环球石材">
                                <img src="__PUBLIC__/Home/picture/569cc06f1c4a1.jpg" alt="环球石材">
                            </a>
                        </div>
                    </li><li class="item item450 double-item">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/569ca5104a946.jpg" alt="尚之奕会展中心">
                                <img src="__PUBLIC__/Home/picture/569cc0801b119.jpg" alt="尚之奕会展中心">
                            </a>
                        </div>
                    </li><li class="item item550 double-item">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/592f6e341b01f.jpg" alt="南方科技大学">
                                <img src="__PUBLIC__/Home/picture/592f6e38292b9.jpg" alt="南方科技大学">
                            </a>
                        </div>
                    </li><li class="item item450 double-item">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/56ea529029b70.jpg" alt="小牛资本">
                                <img src="__PUBLIC__/Home/picture/56ea529438233.jpg" alt="小牛资本">
                            </a>
                        </div>
                    </li><li class="item item600">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/569ca3d53063f.jpg" alt="香港城市大学">
                                <img src="__PUBLIC__/Home/picture/569cc0b153f9c.jpg" alt="香港城市大学">
                            </a>
                        </div>
                    </li><li class="item item700">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/569ca83d57334.jpg" alt="康辉旅游">
                                <img src="__PUBLIC__/Home/picture/569cc042da3a5.jpg" alt="康辉旅游">
                            </a>
                        </div>
                    </li><li class="item item300">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/592e910464ef5.jpg" alt="清华大学">
                                <img src="__PUBLIC__/Home/picture/592e911e272cc.jpg" alt="清华大学">
                            </a>
                        </div>
                    </li><li class="item item700">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/569c9d5695d13.jpg" alt="乐普(北京)医疗器械股份有限公司">
                                <img src="__PUBLIC__/Home/picture/569cc0d42b748.jpg" alt="乐普(北京)医疗器械股份有限公司">
                            </a>
                        </div>
                    </li><li class="item item300">
                        <div class="dot lt-dot"></div>
                        <div class="dot lb-dot"></div>
                        <div class="dot rt-dot"></div>
                        <div class="dot rb-dot"></div>
                        <div class="item-inner">
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                                <img src="__PUBLIC__/Home/picture/569ca3e5782ab.jpg" alt="美克集团">
                                <img src="__PUBLIC__/Home/picture/569cc09f69f28.jpg" alt="美克集团">
                            </a>
                        </div>
                    </li>            </ul>
        </div>
    </div>
</div>
<div class="index-news index-wrap">
    <div class="wrap">
        <h2 class="index-title">
            <div class="big-title"><strong class="big">新闻资讯</strong><span class="line l-line"></span><span class="line r-line"></span></div>
            <span class="small">News</span>
        </h2>
        <div class="index-news-list clearfix">
            <volist name="newslist" id="vo" offset="0" length="1">
            <div class="each-item">
                    <div class="item1 item">
                        <a href="{:U('News/info',array('articleid'=>$vo['articleid']))}"  title="{$vo.title}" class="item-inner">
                        <div class="image-wrap">
                            <div class="image-inner">
                                <img src="__ROOT__/Uploads/{$vo.imagename}" alt="{$vo.title}"/>
                            </div>
                        </div>
                        <div class="text-wrap">
                            <div class="text-inner">
                                <h3 class="title">{$vo.title}</h3>
                                <span class="icon"></span>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </volist>
            <div class="each-item">
                <volist name="newslist" id="vo" offset="1" length="2">
                <div class="item2 item">
                        <a href="{:U('News/info',array('articleid'=>$vo['articleid']))}" title="{$vo.title}" class="item-inner">
                        <div class="text-wrap">
                            <h3 class="title">{$vo.title}</h3>
                            <p class="des">
                                {$vo.describle}
                            </p>
                        </div>
                        <div class="date-wrap">
                            <div class="date">
                                <strong class="big-date">{$vo.dateandtime|substr=8,2}</strong>
                                <span class="small-date">{$vo.dateandtime|substr=0,7}</span>
                            </div>
                            <span class="icon"></span>
                        </div>
                        </a>
                    </div>
                </volist>

            </div>
            <div class="each-item">
                <volist name="newslist" id="vo" offset="3" length="5">
                <div class="item3 item">
                        <a href="{:U('News/info',array('articleid'=>$vo['articleid']))}" title="{$vo.title}" class="item-inner">
                        <div class="date-wrap">
                            <div class="date">
                                <strong class="big-date">{$vo.dateandtime|substr=8,2}</strong>
                                <span class="line"></span>
                                <span class="small-date">{$vo.dateandtime|substr=0,7}</span>
                            </div>
                        </div>
                        <div class="text-wrap">
                            <h3 class="title">{$vo.title}</h3>
                            <span class="icon"></span>
                        </div>
                        </a>
                    </div>
                </volist>
            </div>
        </div>
        <div class="normal-more-wrap1">
            <a href="{:U('News/index')}" class="more"><i class="icon"></i></a>
        </div>
    </div>
</div>
<include file="Public:footer"/>

    </div>
</div>
<!--nav-->
<include file="Public:left"/>
<!--end nav-->
<script src="__PUBLIC__/Home/js/hotcss.js"></script>
<!--<script>
    var _bdhmProtocol = (("http:" == document.location.protocol) ? " http://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd8344b6a8c16d55b7dabce090ed226b7' type='text/javascript'%3E%3C/script%3E"));   
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "http://hm.baidu.com/hm.js?6a859e19cf092a528c89c574266f4d60";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "http://hm.baidu.com/hm.js?7fbb5eb7382fbb88429c177c19198ffb";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>-->
</body>
</html>
<script src="__PUBLIC__/Home/js/index.js"></script>