<div class="side" style="top: 100px;">
        <div class="sideMenu" style="margin:0 auto">
        
      
          <h3 class="open"> 新闻管理</h3>
          <ul>
          <li><a href="<?php echo U('News/type') ?>" target="right">新闻分类</a></li>
            <li><a href="<?php echo U('News/index') ?>" target="right">新闻管理</a></li>
            <li><a href="<?php echo U('Mo/index') ?>" target="right">模板管理</a></li>
          </ul>

          <h3 class="open"> 留言中心</h3>
          <ul>
            <li><a href="{:U('Message/index')}" target="right">留言列表</a></li>
          </ul>
          <h3 class="open">其他管理</h3>
          <ul>

            <li><a href="<?php echo U('Banner/index') ?>" target="right">轮播广告</a></li>

          
          </ul>
         

         
          <h3 class="open"> 系统设置</h3>
          <ul>
            <li><a href="<?php echo U('Index/config') ?>" target="right">系统配置</a></li>        
            <li><a href="<?php echo U('AdminUser/adminuser')?>" target="right">管理员</a></li>
            
          </ul>
       </div>
    </div>