<include file="Public:head"/>
<div class="inner-main-container contact-us">
    <div class="inner-banner normal-inner-banner left-text-banner">
        <img src="__PUBLIC__/Home/picture/contact-banner.jpg" alt="联系方维网络公司" />
        <div class="normal-banner-inner-wrap">
            <div class="normal-banner-inner">
                <div class="container">
                    <h2 class="inner-banner-title1">Contact</h2>
                    <span class="inner-line"></span>
                    <h2 class="inner-banner-title2">联系我们</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-us-page">
        <div class="container">
            <div class="contact-infomation clearfix">
                <div class="each-item address-item">
                    <div class="address-item">
                        <dl>
                            <dt>郑州尚之奕电子科技</dt>
                            <dd class="address">
                                <i class="icon"></i>
                                <span class="word">
                                    <a rel="noFollow" href="javascript:void(0);" target="_blank">郑州市管城区紫荆山商城路<br>裕鸿国际<span class="en">D座</span></a></span>
                            </dd>
                            <dd class="phone-number">
                                <i class="icon"></i>
                                <span class="word en">
                                    {$conf.tel}<br>
                                                                 </span>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="each-item email-item">
                    <div class="item-inner">
                        <h3 class="dt-title">Email</h3>
                        <div class="dd-content">
                            <span>1755832823@qq.com</span>
                        </div>
                    </div>
                </div>
                <div class="each-item qq-item">
                    <div class="item-inner">
                        <h3 class="dt-title"><b>咨询</b> QQ</h3>
                        <div class="dd-content">
                            <a rel="nofollow" target="_blank" href="http://wpa.qq.com/msgrd?v=1&uin=1755832823&site=qq&menu=yes"  class="contact-qq contact-qq1"><i class="icon"></i><span class="qq">1755832823</span></a>
                            <a rel="nofollow" target="_blank" href="http://wpa.qq.com/msgrd?v=1&uin=1755832823&site=qq&menu=yes"  class="contact-qq contact-qq2"><i class="icon"></i><span class="qq">1203594007</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-map">
                <div class="map-image">
                    <img src="__PUBLIC__/Home/picture/888.png" alt="地图指引" />
                </div>
            </div>
      <!--      <div class="contact-traffic">
                <div class="contact-traffic-inner">
                    <h3 class="title">交通指引</h3>
                    <div class="contact-traffic-ways clearfix">
                        <div class="each-item item-bus">
                            <div class="item-inner">
                                <div class="dt-title">
                                    <i class="icon"></i>
                                    <strong class="text">公交车</strong>
                                </div>
                                <div class="dd-content">
                                    <span>站台：招商银行大厦、深南香蜜立交、天安数码城</span>
                                <span>线路：21路、26路、32路、44路、63路、65路、71路、79路、101路、113路、123路、202路、204路、222路、
223路、320路、324路、326路、327路、328路等</span>                                </div>
                            </div>
                        </div>
                        <div class="each-item item-train">
                            <div class="item-inner">
                                <div class="dt-title">
                                    <i class="icon"></i>
                                    <strong class="text">地铁</strong>
                                </div>
                                <div class="dd-content">
                                    <span>站台：车公庙(D出口那栋大厦就是)</span>
                             <span>线路：1号线(罗宝线)、7号线、9号线、11号线 </span>                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<include file="Public:footer"/>
    </div>
</div>
<!--nav-->
<include file="Public:left"/>
<!--end nav-->
<script src="__PUBLIC__/Home/js/hotcss.js"></script>
</body>
</html>