<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="__PUBLIC__/admin/order/css/common.css">
        <link rel="stylesheet" href="__PUBLIC__/admin/order/css/main.css">
        <script type="text/javascript" src="__PUBLIC__/admin/order/js/jquery.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/order/js/colResizable-1.3.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/order/js/common.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/js/layer/layer.js"></script>
        <script type="text/javascript">
            $(function () {
                $(".list_table").colResizable({
                    liveDrag: true,
                    gripInnerHtml: "<div class='grip'></div>",
                    draggingClass: "dragging",
                    minWidth: 30
                });


            });
        </script>
        <title>Document</title>
    </head>
    <body>

        <div class="container">
            <div id="button" class="mt10">
                <table width="100%" border="0">
                    <tr>

                        <td >

                            <input type="button" name="button" class="ext_btn ext_btn_submit" value="查看全部" onclick="location.href='{:U('User/chong')}'">

                        </td>

                        <td width="35%">
                            <form action="" method="get">
                                用户名: <input type="text" name="username" class="input-text lh25" size="30" value="{$Think.get.username}">   <input type="submit"  class="btn btn82 btn_search" value="查询">   </form>
                        </td>

                    </tr>
                </table>



            </div>
            <div id="table" class="mt10">
                <div class="box span10 oh">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
                        <tr>
                            <th width="40"></th>
                            <th width="150" >充值用户</th>
                            <th width="100">金额</th>
                            <th width="200">时间</th>
                            <th width="180">状态</th>
                        </tr>
                        <tbody id="list">
                             <empty name='list'>
                                 <tr class="tr"><td colspan="7">没有充值记录</td></tr>
                    </empty>
                        <volist name='list' id='vo' >
                            <tr class="tr">
                                <td class="td_center"><input type="checkbox" value="{$vo.id}"></td>
                                <td>{$vo.username}</td>
                                <td>{$vo.money}</td>
                                <td>{$vo.dateandtime}</td>
                                <td>
                                    <!--判断状态值,显示对应信息-->     
                            <if condition="$vo['status'] eq 0 ">
                                <font style="color:#0066cc">未充值 </font>
                                <elseif condition="$vo['status'] eq 1" />
                                <font style="color:#ccc">充值成功</font>
                            </if>
                            </td>
                            </tr>
                        </volist>


                        </tbody>
                    </table>
                    <div class="page mt10">
                        <div class="pagination">
                            {$page}
                        </div>

                    </div>
                </div>
            </div>
        </div> 
    </body>
</html>
